<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- IncomeMapper.java 연결 -->
<mapper namespace="com.java.www.mapper.IncomeMapper">
	<select id="incomeSelect" resultType="com.java.www.dto.IncomeDto">
		select * from income where cyear = #{cyear} order by cmonth
	</select>

</mapper>