<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- MemberMapper.java 연결 -->
<mapper namespace="com.java.www.mapper.BoardMapper">
	<!-- 1. 게시글 전체가져오기(20개) -->
	<select id="selectAll" resultType="com.java.www.dto.BoardDto">
		select * from (select row_number() over (order by bgroup desc, bstep asc)
		rnum, a.* from board a) where rnum between 1 and 20
	</select>

</mapper>