<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- BoardMapper.java 연결 -->
<mapper namespace="com.java.www.mapper.BoardMapper">

	<!-- 게시글전체 가져오기 -->
	<select id="selectAll" resultType="com.java.www.dto.BoardDto">
       <![CDATA[
       select * from ( select rownum rnum, a.* from
       ( select * from board order by bgroup desc,bstep asc ) a )
        where rnum>=1 and rnum<=20
       ]]>
	</select>
	
	<!-- 게시글1개 가져오기 -->
	<select id="selectOne" resultType="com.java.www.dto.BoardDto">
     	select * from board where bno= #{bno}
	</select>
	
	<!-- 게시글1개 가져오기 : 이전글 -->
	<select id="selectPrev"
		resultType="com.java.www.dto.BoardDto">
		select * from
		(select row_number() over(order by bgroup desc, bstep asc) rnum, a.* from
		board a) where rnum = (select rnum from
		(select row_number() over(order by bgroup desc, bstep asc) rnum, a.* from
		board a) where bno = #{bno})+1
	</select>

	<!-- 게시글1개 가져오기 : 다음글 -->
	<select id="selectNext"
		resultType="com.java.www.dto.BoardDto">
		select * from
		(select row_number() over(order by bgroup desc, bstep asc) rnum, a.* from
		board a)where rnum =(select rnum from (select row_number() over(order by bgroup
		desc, bstep asc) rnum, a.* from board a) where bno = #{bno})-1
	</select>
	
	

</mapper>